<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row mt-4">
        <div class="col-md-8 offset-2">
            <h2>Edit this Listing</h2>
            <br>
            <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title : </label>
                    <input type="text" id="title" name="listing[title]" value="<%= listing.title %>"  class="form-control" required>
                    <div class="invalid-feedback">Title should be vaild!</div>

                </div>

                <div class="mb-3">
                    <label for="desc"  class="form-label">Description : </label>
                    <textarea name="listing[description]" id="desc" class="form-control" rows="3" required><%= listing.description %> </textarea>
                    <div class="invalid-feedback">Description should be vaild!</div>
                </div>

                <div class="mb-3">
                    <label for="img" class="form-label">Original Uploaded Image : </label>
                    <br>
                    <img src="<%= originalUrl %>" alt="">
                </div>
                
                <div class="mb-3">
                    <label for="img" class="form-label">Upload New Image : </label>
                    <input type="file" id="img" name="image" class="form-control">
                </div>
                
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price : </label>
                        <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Price should be vaild!</div>

                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country : </label>
                        <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" class="form-control" required>
                        <div class="invalid-feedback">Country should be vaild!</div>

                    </div>
                    
                </div>
                
                <div class="mb-3 ">
                    <label for="location" class="form-label">Location : </label>
                    <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" class="form-control" required>
                    <div class="invalid-feedback">Location should be vaild!</div>

                </div>
                
                <button class="btn btn-dark edit-btn mt-3">Save Edit</button>
                <br><br><br>
            </form>
            
        </div>
    </div>
        
</body>